* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0px;
    align-items: center;
    align-content: center;
    background: linear-gradient(to bottom right, #f5f9f3, #e0eae1);
    color: #2d2d2d;
  }
  
  h2 {
    color: #1e4620;
    text-align: center;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  select {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #bbb;
    width: 250px;
  }
  
  .content {
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }

  .navbar {
    background-color: #2f5131;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
  }
  
  .logo img {
    height: 40px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .highlight {
    color: #f4a300;
    font-weight: bold;
    font-size: 24px;
  }
  
  ul {
    padding-left: 20px;
    margin-top: 10px;
  }
  
  ul li {
    margin-bottom: 6px;
  }
  
  @media (max-width: 600px) {
    body {
      padding: 20px;
    }
  
    select {
      width: 100%;
    }
  }